@include keyframes(y-line){
    0%{transform: scaleY(0)}
    100%{transform: scaleY(1)}
}

@include keyframes(x-line){
    0%{transform: scaleX(0)}
    100%{transform: scaleX(1)}
}

#about{
    width: 100%;
    height: calc(100vh - 60px);
    @include centerElement;
    flex-direction: column;
    font-size: 120%;
}
#about>p{
    margin-top: 5vw;
    padding: 0;
    font-family: $font;
}
#timeline{
    @include centerElement;
    flex-direction: column;
    margin: 0 5vw;
    @include fullSize;
}

#timeline>.itemRow{
    @include centerElement;
}

.item{
    width: 30vw;
    text-align: justify;
    @include transition(opacity, ease, 1s);
}
.item.hidden{
    opacity: 0;
}
.linesContainer{
    @include centerElement;
}

.lines.lightMode{
    background-color: $primary-light-color;
}
.lines.darkMode{
    background-color: $bg-light-color;
}

.lines.hidden{
    opacity:0;
}

//vertical
.verLines{
    //change this to change positon of top marker
    align-self: flex-end;
    width: 42.5vw;
}

.verLines>.lines{
    transform-origin: top;
    height: calc(10vw / 2);
    width: $line-thickness;
}
.verLines>.show{
    @include animation("y-line 1.2s 1")
}

//horizontal
.leftHorLines, .rightHorLines{
    padding: 0 5vw;
    width:$line-length;
}
.leftHorLines>.lines{
    transform-origin: right;
}
.rightHorLines>.lines{
    transform-origin: left;
}
.leftHorLines>.lines, .rightHorLines>.lines{
    height: $line-thickness;
    width: $line-length;
}
.leftHorLines>.show, .rightHorLines>.show{
    @include animation("x-line 1.2s 1")
}
