@mixin navbar-lg {
    //navbar
    #name{
        text-align: center;
    }

    #navToggler{
        display: none;
    }

    #navLinkContainer{
        @include fullSize;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(255,255,255,0);
    }

    #navLinkContainer>a{
        width: 12%;
        height: 40px;
        @include border-radius(30px, 30px);
        margin: 10px;
    }
}
@mixin navbar-md {
    //navbar
    //hides the nav links into a column 
    #navbar{
        justify-content: flex-end;
    }

    #navLinkContainer{
        @include border-radius(0,0);
        position: absolute;
        top: 85px;
        flex-direction: column;
        width: 100%;
        
    }
    #navLinkContainer.lightMode{
        @include lightModeBtns;
        border: 0px;
    }
    #navLinkContainer.darkMode{
        @include darkModeBtns;
        border: 0px;
    }
    #navLinkContainer>a{
        @include border-radius(0px, 0px);
        margin: 5px 0;
        border: 0px;
        height: 40px;
    }
    #navLinkContainer>a:last-child{
        margin-bottom: 40px;
    }

    #navLinkContainer.show{
        max-height: 300px;
        overflow: visible;
    }
    
    #navLinkContainer.hidden{
        overflow: hidden;
        max-height: 0px;
    }
    #navLinkContainer>a.show{
        visibility: visible;
        opacity: 1;
    }
    #navLinkContainer>a.hidden{
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s linear);
    }
}

@mixin  timeline-lg{
    //timeline padding
    #about{
        font-size: 200%;
    }
    #timeline{
        padding: 0 15vw;
        font-size: 60%;
    }

    .item{
        width: 25vw;
    }
    .verLines{
        //center vertical line
        padding: 0 17.5vw;
        width: 25vw;
    }
    .verLines>.lines{
        height: 5vw;
    }
}
@mixin timeline-md {
    //timeline padding
    #about{
       font-size: 150%;
   }
   #timeline{
       font-size: 50%;
   }
   .item{
       width: 35vw;
   }
   .verLines{
       //center vertical line
       padding: 0 10vw;
       width: 30vw;
   }
   .verLines>.lines{
       height: 4vw;
   }
}

@mixin timeline-sm {
    #timeline{
        font-size: 55%;
    }
}

@mixin profilePic-lg {
      //profile background
    
      #bgProfilePic>div:first-child{
        font-size: 300%;
    }
}
@mixin profilePic-md {
    //profile background
    #bgProfilePic>div:first-child{
        font-size: 250%;
    }
}

@mixin profilePic-sm {
    #bgProfilePic{
        flex-direction: column;
        div{
            width: 100% !important;
            height: 50%
        }
        div:first-child{
            margin: 0.3rem 0;
            a{
                font-size: 0.8rem !important;
                margin-bottom: 1rem !important;
            };
        }
    }
   #socialMedia{
       margin-top: 1rem !important;
       height: 2rem !important;
       justify-content: center !important;
       a{
            width: 3rem !important;
       }
       img{
           object-fit: contain;
       }
   }
    #bgProfilePic>div:first-child{
        font-size: 1.2rem;
    }
}
