@-moz-document url-prefix() {
    body{
        font-size: 120%;
        }
    }
html, body{
    padding: 0;
    margin: 0;
    
}
body{
    position: relative;
    overflow-x: hidden;
}



  .lightMode{
      @include bg-theme-colors($dark-mode:false);
      @include transition(all 0.3s ease);
  }
  
  .darkMode{
      @include bg-theme-colors($dark-mode);
      @include transition(all 0.3s ease);
  }
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }   
  img.blur{
      filter: blur(10px);
      -webkit-filter: blur(10px);
  }

  #content{
      @include centerElement;
      @include fullSize;
      flex-direction: column;
      justify-content: center;

  }

    
