#bgProfilePic{
    position: relative;
    @include box-shadow(0px, 0.5px, 2px, 0.5px, rgb(43, 43, 43));
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
    min-height: 550px;
}

#bgProfilePic.lightMode{
    background-color: $bg-secondary-light-color;

}

#bgProfilePic.darkMode{
    background-color: $bg-secondary-dark-color;
}

#bgProfilePic>div:first-child{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    background-color: rgba(0,0,0,0);
    @include centerElement;
    width:50%;
    flex-direction: column;
    text-align: center;
}
#bgProfilePic>div:first-child>p{
    padding: 0;
    margin: 1rem;
}
#bgProfilePic>div:first-child>a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 550;
    font-size: 50%;
    text-decoration: none;
    color: rgb(209, 5, 5);
    border: 1.5px solid rgb(209, 5, 5);
    padding: 0.7rem 1rem;
    margin-bottom: 1.7rem;
    @include border-radius(30px, 30px);
}

#bgProfilePic>div:first-child>a:hover, #bgProfilePic>div:first-child>a:active{
    background-color: white;
    color: $primary-light-color;
    border: 1.5px solid $primary-light-color;
}

#bgProfilePic>div:first-child.lightMode{
    color: $primary-dark-color;
}
#bgProfilePic>div:first-child>hr{
    padding:0;
    margin: 0;
    width: 30%;
}

#socialMedia{
    margin-top: 1.5rem;
    @include centerElement;
    justify-content: space-around;
    width: 11rem;
}
#socialMedia>a{
    @include centerElement;
    width: 2.5rem;
    height: 100%;
}
#profilePic{
    width: 50%;
    height: 100%;
}


