#skillsBtn{
    margin-top: 7vw;
    flex-direction: column;
    @include centerElement;
}

#skillsBtn.darkMode{
    background-color: rgb(78, 77, 77);
}

#skillsBtn.darkMode>a{
    background-color: rgb(78, 77, 77);
    color: $bg-light-color;
    border: 1.5px solid white;
}

#skillsBtn>a{
    @include centerElement;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
}

#skillsBtn.lightMode>a{
    background-color:$bg-light-color;
    color:$primary-light-color;
    border: 1.5px solid $primary-light-color; 
}


#skillsBtn.lightMode>a:hover{
    background-color: $primary-light-color;
    color: $bg-light-color;
    border: 1.5px solid $primary-light-color; 
}

#skillsBtn.darkMode>a:hover{
    background-color:$bg-light-color;
    color:$bg-dark-color;
    border: 1.5px solid $bg-light-color; 
}

#skills{
    
    margin-bottom: 7vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    text-align: center;
    width: 70%;
    @include transition(all, 0.5s, ease-in);
}

#skills>p{
    @include transition(all, 0.4s, ease-in);
}
    
#skills.show{
    max-height: 600px;
}

#skills.hidden{
    max-height: 0;
    overflow:hidden;
}

#skills.hidden>p{
    opacity: 0;
    visibility: hidden;
}
