
//$bg-light-color: rgb(210, 255, 247) ;
$bg-light-color: rgb(250, 250, 231);
$bg-secondary-light-color: rgb(165, 210, 235);
$bg-secondary-dark-color:rgb(34, 34, 34);
$bg-dark-color:  rgb(41, 41, 41);
$navbar-light-color: rgba(36, 48, 94);
$primary-light-color:rgba(55, 71, 133);
$primary-dark-color: rgba(51, 51, 51);

$font: 'Roboto', sans-serif;

$font-size: 1.25em;

$text-container-color: white;
$font-light-color: white;
$font-dark-color: black;

$dark-mode :true;

$line-length: 15vw;

$line-thickness : 3px;

@mixin border-radius($top, $bottom){
    border-radius: $top $top $bottom $bottom;
    -webkit-border-radius: $top $top $bottom $bottom;
    -moz-border-radius: $top $top $bottom $bottom;
    -ms-border-radius: $top $top $bottom $bottom;
}

@mixin box-shadow($x, $y, $blur, $spread, $color){
    box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow:$x $y $blur $spread $color;
    -moz-box-shadow:$x $y $blur $spread $color;
    -ms-box-shadow:$x $y $blur $spread $color;
}

@mixin bg-theme-colors ($dark-mode) {
    @if $dark-mode {
        background-color: $bg-dark-color;
        color: $font-light-color;
    } @else {
        background-color: $bg-light-color;
        color: $font-dark-color;
    }
}
@mixin lightModeBtns{
    background-color: $primary-light-color;
    border: 1.5px solid $primary-light-color;
    color: $font-dark-color;
}

@mixin darkModeBtns{
    background-color: $primary-dark-color;
    border:1.5px solid $primary-dark-color;
}

@mixin absPosition($top, $left){
    position: absolute;
    top: $top;
    bottom: $top;
    left: $left;
    right: $left;
}

@mixin transform ($a) {
    -webkit-transform: translateX($a);
    -ms-transform: translateX($a);
    -o-animation: translateX($a);
    -moz-transition: translateX($a);
    transform: translateX($a);
}

@mixin centerElement{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fullSize {
    height: 100%;
    width: 100%
}

@mixin transition ($str...) {
    -webkit-transition: $str;
    -ms-transition: $str;
    -o-transition: $str;
    -moz-transition: $str; 
    transition: $str;
}


@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
  }

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
