/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@-moz-document url-prefix() {
  body {
    font-size: 120%;
  }
}
html {
  width: 100vw;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -ms-border-radius: 50px 50px 50px 50px;
  padding-right: 1px;
}

.lightMode {
  background-color: #fafae7;
  color: black;
  transition: all 0.3s ease;
}

.darkMode {
  background-color: #292929;
  color: white;
  transition: all 0.3s ease;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

img.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#bgProfilePic {
  position: relative;
  box-shadow: 0px 0.5px 2px 0.5px #2b2b2b;
  -webkit-box-shadow: 0px 0.5px 2px 0.5px #2b2b2b;
  -moz-box-shadow: 0px 0.5px 2px 0.5px #2b2b2b;
  -ms-box-shadow: 0px 0.5px 2px 0.5px #2b2b2b;
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 600px;
}

#bgProfilePic.lightMode {
  background-color: #a5d2eb;
}

#bgProfilePic.darkMode {
  background-color: #222222;
}

#bgProfilePic > div:first-child {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  text-align: center;
}

#bgProfilePic > div:first-child > p {
  padding: 0;
  margin: 1rem;
}

#bgProfilePic > div:first-child > a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 550;
  font-size: 50%;
  text-decoration: none;
  color: #d10505;
  border: 1.5px solid #d10505;
  padding: 0.7rem 1rem;
  margin-bottom: 1.7rem;
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -ms-border-radius: 30px 30px 30px 30px;
}

#bgProfilePic > div:first-child > a:hover, #bgProfilePic > div:first-child > a:active {
  background-color: white;
  color: #374785;
  border: 1.5px solid #374785;
}

#bgProfilePic > div:first-child.lightMode {
  color: #333333;
}

#bgProfilePic > div:first-child > hr {
  padding: 0;
  margin: 0;
  width: 30%;
}

#socialMedia {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 11rem;
}

#socialMedia > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 100%;
}

#profilePic {
  width: 50%;
  height: 100%;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 40px;
  padding: 15px 0px;
  z-index: 4;
  box-shadow: 0px 0.3px 2px 0.5px black;
  -webkit-box-shadow: 0px 0.3px 2px 0.5px black;
  -moz-box-shadow: 0px 0.3px 2px 0.5px black;
  -ms-box-shadow: 0px 0.3px 2px 0.5px black;
}

#navbar.lightMode {
  background-color: #374785;
  border: 1.5px solid #374785;
  color: black;
  border: 0px;
  background-color: #24305e;
}

#navbar.darkMode {
  background-color: #333333;
  border: 1.5px solid #333333;
  border: 0px;
}

#navLinkContainer {
  top: 69px;
}

#navLinkContainer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.25em;
}

#name {
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -ms-border-radius: 30px 30px 30px 30px;
  margin: 10px;
  text-decoration: none;
  font-size: 1.25em;
  flex-grow: 2;
  padding: 40px;
  color: white;
  background-color: rgba(63, 4, 201, 0);
}

.nav_links.lightMode, .lightMode#navToggler {
  background-color: rgba(63, 4, 201, 0);
  border: 1.5px solid rgba(63, 4, 201, 0);
  color: white;
}

.nav_links.darkMode, .darkMode#navToggler {
  background-color: rgba(51, 51, 51, 0);
  border: 1.5px solid rgba(51, 51, 51, 0);
}

.nav_links.lightMode:hover, .lightMode#navToggler:hover {
  background-color: white;
  color: #374785;
  border: 1.5px solid #374785;
}

.nav_links.darkMode:hover, .darkMode#navToggler:hover {
  background-color: white;
  color: #333333;
  border: 1.5px solid #333333;
}

#themeBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 20px;
}

.themeToggler, #navToggler {
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -ms-border-radius: 30px 30px 30px 30px;
  cursor: pointer;
  height: 100%;
  width: 60px;
  font-size: 1.25em;
}

.themeToggler:hover, #navToggler:hover {
  background-color: white;
  color: #374785;
  border: 1.5px solid #374785;
}

#navToggler {
  margin-right: 20px;
}

#popupContainer {
  position: absolute;
  top: 65px;
  width: 80px;
  left: -10px;
  z-index: 10;
}

.focusContainer {
  background-color: #292929;
  border: 1px solid white;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  transition: all ease-in 0.3;
}

#darkPopup.focusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#darkPopup.focusContainer > p {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

#popupContainer.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 0.4s;
}

@-webkit-keyframes y-line {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes y-line {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes x-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes x-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
#about {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#about.lightMode {
  background-color: white;
}

#about > h2 {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
}

#timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
#timeline a:hover {
  opacity: 0.7;
}
#timeline a:link {
  color: #0004ff;
}
#timeline a:visited {
  color: #7e62b4;
}

#timeline > .itemRow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}

.item {
  position: relative;
  text-align: center;
  padding: 1vw 4vw;
  box-sizing: border-box;
  transition: opacity ease 0.5s;
}

.item.lightMode {
  background-color: white;
}

.item::before, .item::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2.5px solid transparent;
  width: 0;
  height: 0;
  z-index: 0;
}

.item::before {
  top: 0;
  left: 0;
}

.item::after {
  bottom: 0;
  right: 0;
}

.item.show::before,
.item.show::after {
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
}

.item.show::before {
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s, border-radius 0.5s ease-out 1.5s;
}

.item.show::after {
  transition: border-color 0s ease-out 1s, width 0.25s ease-out 1s, height 0.25s ease-out 1.25s, border-radius 0.5s ease-out 1.5s;
}

.item.lightMode.show::before {
  border-top-color: #374785;
  border-right-color: #374785;
}

.item.lightMode.show::after {
  border-left-color: #374785;
  border-bottom-color: #374785;
}

.item.darkMode.show::after {
  border-left-color: white;
  border-bottom-color: white;
}

.item.darkMode.show::before {
  border-top-color: white;
  border-right-color: white;
}

.item.hidden {
  opacity: 0;
}

.item > p {
  position: relative;
  z-index: 1;
}

.linesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lines.lightMode {
  background-color: #374785;
}

.lines.darkMode {
  background-color: white;
}

.lines.hidden {
  opacity: 0;
}

.verLines > .lines {
  transform-origin: top;
  width: 3px;
}

.verLines > .show {
  -webkit-animation: y-line 0.5s 1;
  animation: y-line 0.5s 1;
}

.leftHorLines, .rightHorLines {
  width: 15vw;
}

.leftHorLines > .lines {
  transform-origin: right;
}

.rightHorLines > .lines {
  transform-origin: left;
}

.leftHorLines > .lines, .rightHorLines > .lines {
  height: 3px;
  width: 15vw;
}

.leftHorLines > .show, .rightHorLines > .show {
  -webkit-animation: x-line 0.5s 1;
  animation: x-line 0.5s 1;
}

#carousel {
  transition: all linear 0.3s;
  box-shadow: 0px -0.5px 3px 0.5px black;
  -webkit-box-shadow: 0px -0.5px 3px 0.5px black;
  -moz-box-shadow: 0px -0.5px 3px 0.5px black;
  -ms-box-shadow: 0px -0.5px 3px 0.5px black;
  position: relative;
  display: flex;
  min-height: calc(100vh - 70px);
  height: 100%;
  width: 100vw;
  justify-content: space-between;
  color: white;
}
#carousel h1 {
  font-family: "Ubuntu", sans-serif;
  margin-top: 3rem;
  margin-bottom: 0rem;
  font-size: 2rem;
}

#carousel.lightMode {
  background-color: #374785;
}

#carousel.darkMode {
  background-color: #333333;
}

#caroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

#carousel-items {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.95s;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.caro-item {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all linear 0.4s;
  height: 100%;
  width: 100%;
}
.caro-item h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.caro-item div, .caro-item h2 {
  transition: all linear 0.4s;
}

.caro-item.no-width {
  width: 0% !important;
}

.caro-item.hidden {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
.caro-item.hidden div, .caro-item.hidden h2 {
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
}

.caro-item.show {
  opacity: 1;
}
.caro-item.show div, .caro-item.show h2 {
  opacity: 1;
}

.caro-item-content {
  display: flex;
  align-items: flex-start;
  transition: all linear 0.4s;
  width: 100%;
  height: 100%;
}

.caro-img-container, .project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.caro-img-container {
  align-self: center;
  max-height: 450px;
  width: 100%;
  margin-right: 4rem;
  height: 70%;
}

.caro-img, .project-description > div {
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  margin-bottom: 2rem;
  height: 100%;
}
.caro-img img, .project-description > div img {
  display: block;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  margin: 1px 0px 1px 1px;
  width: calc(100% - 2px);
  min-height: 150px;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 70%;
}
.caro-img label, .project-description > div label {
  display: block;
  padding: 1rem 0.5rem;
}

.project-description {
  justify-content: flex-start;
  width: 50%;
  margin-right: 0;
  height: 100%;
}

.project-description > div {
  transition: all linear 0.7s;
  position: relative;
  max-height: 1000px;
  width: 100%;
}
.project-description > div h3 {
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  margin: 1px 1px 0 1px;
  padding: 0.7rem;
  color: white;
  font-weight: 600;
}
.project-description > div .text-container {
  transition: all linear 0.7s;
  font-family: "Lato", sans-serif;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  max-height: 900px;
  overflow: hidden;
  text-align: justify;
}

.expand-container-btn {
  position: absolute;
  bottom: 0;
  left: 1px;
  width: calc(100% - 2px);
  border: none;
  font-size: 1.5rem;
  padding: 0.75rem;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  z-index: 2;
}
.expand-container-btn:hover, .expand-container-btn:active {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.459);
}

.project-description > div.hide {
  max-height: 225px;
}
.project-description > div.hide .text-container {
  max-height: 140px;
}

.caro-item-content.lightMode {
  background: none;
}
.caro-item-content.lightMode .caro-img-container .caro-img, .caro-item-content.lightMode .caro-img-container .project-description > div {
  box-shadow: inset 0px 0px 2px 0.3px black;
  -webkit-box-shadow: inset 0px 0px 2px 0.3px black;
  -moz-box-shadow: inset 0px 0px 2px 0.3px black;
  -ms-box-shadow: inset 0px 0px 2px 0.3px black;
  background-color: white;
}
.caro-item-content.lightMode .caro-img-container .caro-img img, .caro-item-content.lightMode .caro-img-container .project-description > div img {
  background-color: #374785;
}
.caro-item-content.lightMode .project-description > div {
  box-shadow: inset 0px 0px 2px 0.3px black;
  -webkit-box-shadow: inset 0px 0px 2px 0.3px black;
  -moz-box-shadow: inset 0px 0px 2px 0.3px black;
  -ms-box-shadow: inset 0px 0px 2px 0.3px black;
  background-color: white;
}
.caro-item-content.lightMode .project-description > div h3 {
  background-color: #333333;
}
.caro-item-content.lightMode .project-description > div .expand-container-btn {
  box-shadow: inset 0px -1.5px 1px 0.15px black;
  -webkit-box-shadow: inset 0px -1.5px 1px 0.15px black;
  -moz-box-shadow: inset 0px -1.5px 1px 0.15px black;
  -ms-box-shadow: inset 0px -1.5px 1px 0.15px black;
  background-color: white;
}

.caro-item-content.darkMode {
  background: none;
}
.caro-item-content.darkMode .caro-img-container .caro-img, .caro-item-content.darkMode .caro-img-container .project-description > div {
  box-shadow: inset 0px 0px 2px 0.3px white;
  -webkit-box-shadow: inset 0px 0px 2px 0.3px white;
  -moz-box-shadow: inset 0px 0px 2px 0.3px white;
  -ms-box-shadow: inset 0px 0px 2px 0.3px white;
  background-color: #292929;
}
.caro-item-content.darkMode .caro-img-container .caro-img img, .caro-item-content.darkMode .caro-img-container .project-description > div img {
  background-color: #333333;
  border-bottom: 1px solid white;
}
.caro-item-content.darkMode .project-description > div {
  box-shadow: inset 0px 0px 2px 0.3px white;
  -webkit-box-shadow: inset 0px 0px 2px 0.3px white;
  -moz-box-shadow: inset 0px 0px 2px 0.3px white;
  -ms-box-shadow: inset 0px 0px 2px 0.3px white;
  background-color: #292929;
}
.caro-item-content.darkMode .project-description > div h3 {
  background-color: #333333;
  border-bottom: 1px solid white;
}
.caro-item-content.darkMode .project-description > div .expand-container-btn {
  box-shadow: inset 0px -1.5px 1px 0.15px white;
  -webkit-box-shadow: inset 0px -1.5px 1px 0.15px white;
  -moz-box-shadow: inset 0px -1.5px 1px 0.15px white;
  -ms-box-shadow: inset 0px -1.5px 1px 0.15px white;
  color: white;
  background-color: #292929;
}

.caroIndicators {
  cursor: pointer;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

#caroIndicators > .caroIndicators > i {
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -ms-border-radius: 30px 30px 30px 30px;
}

#caroIndicators {
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 3vh;
}

.caro-btns.hidden {
  opacity: 0.2;
  transition: all ease-out 1s;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1.5px solid black;
  display: inline-block;
}

#caroIndicators > .caroIndicators > .dot {
  border: 1.5px solid white;
}

#caroIndicators > .caroIndicators > .active {
  background-color: white;
  border: 1.5px solid white;
}

#caroIndicators > .caroIndicators > .dot:hover {
  background-color: white;
  border: 1.5px solid white;
}

.caro-btns {
  background-color: rgba(51, 51, 51, 0);
  border: 0px;
  cursor: pointer;
  font-size: 3rem;
  width: 15vw;
  color: white;
  text-align: center;
}

.caro-btns:hover {
  color: #aaa9a9;
}

#skills {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px -0.5px 2px 0.3px black;
  -webkit-box-shadow: 0px -0.5px 2px 0.3px black;
  -moz-box-shadow: 0px -0.5px 2px 0.3px black;
  -ms-box-shadow: 0px -0.5px 2px 0.3px black;
}

#skillsBtn {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 4rem;
  border: none;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skillsBtn.darkMode > span {
  color: white;
  border: 1.5px solid white;
}

#skillsBtn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 550;
  height: 1.5rem;
}

#skillsBtn.lightMode > span {
  color: #374785;
  border: 1.5px solid #374785;
}

#skillsBtn.lightMode > span:hover {
  background-color: #374785;
  color: white;
  border: 1.5px solid #374785;
}

#skillsBtn.darkMode > span:hover {
  background-color: #fafae7;
  color: #292929;
  border: 1.5px solid #fafae7;
}

#skillsList {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in;
}

#skillsList > p {
  transition: all 0.5s ease-in;
}

#skillsList.show {
  padding-bottom: 6rem;
  max-height: 600px;
}

#skillsList.hidden {
  max-height: 0;
  overflow: hidden;
}

#skillsList.hidden > p {
  opacity: 0;
  visibility: hidden;
}

#skillsList.lightMode, #skillsBtn.lightMode {
  background-color: white;
}

#footer {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  box-shadow: 0px -0.5px 2px 0.5px black;
  -webkit-box-shadow: 0px -0.5px 2px 0.5px black;
  -moz-box-shadow: 0px -0.5px 2px 0.5px black;
  -ms-box-shadow: 0px -0.5px 2px 0.5px black;
  text-align: center;
}
#footer p {
  margin: 0.5rem;
}
#footer p:first-child {
  margin-top: 2rem;
}
#footer p:last-child {
  margin-bottom: 1.7rem;
}
#footer a {
  font-weight: 800;
}
#footer a:hover {
  opacity: 0.7;
}
#footer a:link {
  color: #0004ff;
}
#footer a:visited {
  color: #a983f0;
}

#footer.lightMode {
  background-color: #24305e;
  color: white;
}

#footer.darkMode {
  background-color: #333333;
  color: white;
}

@media screen and (min-width: 1025px) {
  #about {
    font-size: 200%;
  }

  #timeline {
    font-size: 60%;
  }

  .item {
    width: 25vw;
  }

  .verLines {
    padding: 0 17.5vw;
    width: 25vw;
  }

  .verLines > .lines {
    height: 5vw;
  }

  #bgProfilePic > div:first-child {
    font-size: 300%;
  }

  #name {
    text-align: center;
  }

  #navToggler {
    display: none;
  }

  #navbar {
    box-shadow: 0px 0.5px 2px 0.5px black;
    -webkit-box-shadow: 0px 0.5px 2px 0.5px black;
    -moz-box-shadow: 0px 0.5px 2px 0.5px black;
    -ms-box-shadow: 0px 0.5px 2px 0.5px black;
  }

  #navLinkContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0);
  }

  #navLinkContainer > a {
    width: 12%;
    height: 40px;
    border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -ms-border-radius: 30px 30px 30px 30px;
    margin: 10px;
  }

  #caroContainer {
    width: 69vw;
  }

  .caro-img, .project-description > div {
    width: 70%;
  }

  .project-description > div {
    width: 100%;
    min-width: 242px;
  }
}
@media screen and (max-width: 1400px) {
  .caro-img, .project-description > div {
    width: 90%;
  }
}
@media screen and (max-width: 1025px) {
  #about > h2 {
    font-size: 2rem;
  }

  .item {
    width: 35vw;
  }

  .verLines {
    padding: 0 10vw;
    width: 30vw;
  }

  .verLines > .lines {
    height: 4vw;
  }

  #bgProfilePic > div:first-child {
    font-size: 250%;
  }

  #carousel h1 {
    margin-top: 2rem !important;
    font-size: 1.5rem !important;
  }

  .caro-item h2 {
    font-size: 1.2rem !important;
    margin-top: 1.3rem !important;
    margin-bottom: 1rem !important;
    text-align: center;
    align-items: flex-start;
  }
  .caro-item .caro-item-content {
    flex-direction: column;
  }
  .caro-item .caro-item-content .caro-img-container {
    align-self: flex-start;
    height: 40%;
    margin-top: 1.5rem;
    margin-right: 0;
  }
  .caro-item .caro-item-content .caro-img-container .caro-img, .caro-item .caro-item-content .caro-img-container .project-description > div {
    height: 100%;
  }
  .caro-item .caro-item-content .project-description {
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
  .caro-item .caro-item-content .project-description .text-container, .caro-item .caro-item-content .project-description h3 {
    font-size: 0.8rem;
  }

  #caroContainer {
    width: 50vw;
  }

  .caro-img, .project-description > div {
    width: 100%;
  }

  #caroContainer {
    width: 40vw;
  }

  .project-description > div {
    min-width: 242px;
  }

  #navbar {
    justify-content: flex-end;
  }

  #navLinkContainer {
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    position: absolute;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 1px 0.8px 0.2px rgba(0, 0, 0, 0.623);
    -webkit-box-shadow: 0px 1px 0.8px 0.2px rgba(0, 0, 0, 0.623);
    -moz-box-shadow: 0px 1px 0.8px 0.2px rgba(0, 0, 0, 0.623);
    -ms-box-shadow: 0px 1px 0.8px 0.2px rgba(0, 0, 0, 0.623);
  }

  #navLinkContainer.lightMode {
    background-color: #374785;
    border: 1.5px solid #374785;
    color: black;
    border: 0px;
    background-color: #24305e;
  }

  #navLinkContainer.darkMode {
    background-color: #333333;
    border: 1.5px solid #333333;
    border: 0px;
  }

  #navLinkContainer > a {
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -ms-border-radius: 0px 0px 0px 0px;
    margin: 5px 0;
    border: 0px;
    height: 40px;
  }

  #navLinkContainer > a:last-child {
    margin-bottom: 40px;
  }

  #navLinkContainer.show {
    max-height: 300px;
    overflow: visible;
  }

  #navLinkContainer.hidden {
    overflow: hidden;
    max-height: 0px;
  }

  #navLinkContainer > a.show {
    visibility: visible;
    opacity: 1;
  }

  #navLinkContainer > a.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
  }
}
@media screen and (max-width: 650px) {
  #about > h2 {
    font-size: 1.6rem;
  }

  #timeline {
    padding-top: 2rem;
    font-size: 0.9rem;
  }

  #bgProfilePic {
    flex-direction: column;
  }
  #bgProfilePic div {
    width: 100% !important;
    height: 50%;
  }
  #bgProfilePic div:first-child {
    margin: 0.3rem 0;
  }
  #bgProfilePic div:first-child a {
    font-size: 0.8rem !important;
    margin-bottom: 1rem !important;
  }

  #socialMedia {
    margin-top: 1rem !important;
    height: 2rem !important;
    justify-content: center !important;
  }
  #socialMedia a {
    width: 3rem !important;
  }
  #socialMedia img {
    -o-object-fit: contain;
       object-fit: contain;
  }

  #bgProfilePic > div:first-child {
    font-size: 1.7rem;
  }

  #carousel h1 {
    margin-top: 2rem !important;
    font-size: 1.5rem !important;
  }

  .caro-item h2 {
    font-size: 1.2rem !important;
    margin-top: 1.3rem !important;
    margin-bottom: 1rem !important;
    text-align: center;
    align-items: flex-start;
  }
  .caro-item .caro-item-content {
    flex-direction: column;
  }
  .caro-item .caro-item-content .caro-img-container {
    align-self: flex-start;
    height: 40%;
    margin-top: 1.5rem;
    margin-right: 0;
  }
  .caro-item .caro-item-content .caro-img-container .caro-img, .caro-item .caro-item-content .caro-img-container .project-description > div {
    height: 100%;
  }
  .caro-item .caro-item-content .project-description {
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
  .caro-item .caro-item-content .project-description .text-container, .caro-item .caro-item-content .project-description h3 {
    font-size: 0.8rem;
  }

  #caroContainer {
    width: 50vw;
  }

  .caro-img, .project-description > div {
    width: 100%;
  }

  .project-description > div {
    min-width: 0px !important;
  }
}/*# sourceMappingURL=index.css.map */