/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@-moz-document url-prefix() {
  body {
    font-size: 120%;
  }
}
@media screen and (min-width: 1026px) {
  #name {
    text-align: center;
  }

  #navToggler {
    display: none;
  }

  #navLinkContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0);
  }

  #navLinkContainer > a {
    width: 12%;
    height: 40px;
    border-radius: 30px 30px;
    -webkit-border-radius: 30px 30px;
    -moz-border-radius: 30px 30px;
    -ms-border-radius: 30px 30px;
    margin: 10px;
  }

  #bgProfilePic > div:first-child {
    font-size: 300%;
  }

  #about {
    font-size: 200%;
  }

  #timeline {
    padding: 0 15vw;
    font-size: 60%;
  }

  .item {
    width: 25vw;
  }

  .verLines {
    padding: 0 17.5vw;
    width: 25vw;
  }

  .verLines > .lines {
    height: 5vw;
  }
}
@media screen and (max-width: 1025px) {
  #navbar {
    justify-content: flex-end;
  }

  #navLinkContainer {
    border-radius: 0 0;
    -webkit-border-radius: 0 0;
    -moz-border-radius: 0 0;
    -ms-border-radius: 0 0;
    position: absolute;
    top: 85px;
    flex-direction: column;
    width: 100%;
  }

  #navLinkContainer.lightMode {
    background-color: #5e2bd4;
    border: 1.5px solid #5e2bd4;
    color: white;
    border: 0px;
  }

  #navLinkContainer.darkMode {
    background-color: #333333;
    border: 1.5px solid #333333;
    border: 0px;
  }

  #navLinkContainer > a {
    border-radius: 0px 0px;
    -webkit-border-radius: 0px 0px;
    -moz-border-radius: 0px 0px;
    -ms-border-radius: 0px 0px;
    margin: 5px 0;
    border: 0px;
    height: 40px;
  }

  #navLinkContainer > a:last-child {
    margin-bottom: 40px;
  }

  #navLinkContainer.show {
    max-height: 300px;
    overflow: visible;
  }

  #navLinkContainer.hidden {
    overflow: hidden;
    max-height: 0px;
  }

  #navLinkContainer > a.show {
    visibility: visible;
    opacity: 1;
  }

  #navLinkContainer > a.hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }

  #bgProfilePic > div:first-child {
    font-size: 250%;
  }

  #about {
    font-size: 150%;
  }

  #timeline {
    font-size: 60%;
  }

  .item {
    width: 35vw;
  }

  .verLines {
    padding: 0 10vw;
    width: 30vw;
  }

  .verLines > .lines {
    height: 4vw;
  }
}
@media screen and (max-width: 768px) {
  #bgProfilePic > div:first-child {
    font-size: 150%;
  }

  #timeline {
    font-size: 55%;
  }
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 50px 50px;
  -webkit-border-radius: 50px 50px;
  -moz-border-radius: 50px 50px;
  -ms-border-radius: 50px 50px;
  padding-right: 1px;
}

html.stopScroll, body.stopScroll {
  height: 100%;
  overflow: hidden;
}

.lightMode {
  background-color: #e9e7e7;
  color: #292929;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.darkMode {
  background-color: #292929;
  color: #e9e7e7;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

img.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 60px;
  padding: 15px 0px;
  z-index: 4;
}

#navbar.lightMode {
  background-color: #5e2bd4;
  border: 1.5px solid #5e2bd4;
  color: white;
  border: 0px;
  box-shadow: 0px 0.5px 0.5px 0.5px #4c24aa;
  -webkit-box-shadow: 0px 0.5px 0.5px 0.5px #4c24aa;
  -moz-box-shadow: 0px 0.5px 0.5px 0.5px #4c24aa;
  -ms-box-shadow: 0px 0.5px 0.5px 0.5px #4c24aa;
}

#navbar.darkMode {
  background-color: #333333;
  border: 1.5px solid #333333;
  border: 0px;
}

#navLinkContainer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.25em;
}

#name {
  border-radius: 30px 30px;
  -webkit-border-radius: 30px 30px;
  -moz-border-radius: 30px 30px;
  -ms-border-radius: 30px 30px;
  margin: 10px;
  text-decoration: none;
  font-size: 1.25em;
  flex-grow: 2;
  padding: 40px;
  color: white;
  background-color: rgba(63, 4, 201, 0);
}

.nav_links.lightMode, .lightMode#navToggler {
  background-color: rgba(63, 4, 201, 0);
  border: 1.5px solid rgba(63, 4, 201, 0);
  color: white;
}

.nav_links.darkMode, .darkMode#navToggler {
  background-color: rgba(51, 51, 51, 0);
  border: 1.5px solid rgba(51, 51, 51, 0);
}

.nav_links.lightMode:hover, .lightMode#navToggler:hover {
  background-color: white;
  color: #5e2bd4;
  border: 1.5px solid #5e2bd4;
}

.nav_links.darkMode:hover, .darkMode#navToggler:hover {
  background-color: white;
  color: #333333;
  border: 1.5px solid #333333;
}

#themeBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 20px;
}

.themeToggler, #navToggler {
  border-radius: 30px 30px;
  -webkit-border-radius: 30px 30px;
  -moz-border-radius: 30px 30px;
  -ms-border-radius: 30px 30px;
  cursor: pointer;
  height: 100%;
  width: 60px;
  font-size: 1.25em;
}

.themeToggler:hover, #navToggler:hover {
  background-color: white;
  color: #5e2bd4;
  border: 1.5px solid #5e2bd4;
}

#navToggler {
  margin-right: 20px;
}

#popupContainer {
  position: absolute;
  top: 65px;
  width: 80px;
  left: -10px;
  z-index: 10;
}

.focusContainer {
  background-color: #292929;
  border: 1px solid white;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -webkit-transition: all ease-in 0.3;
  -ms-transition: all ease-in 0.3;
  -o-transition: all ease-in 0.3;
  -moz-transition: all ease-in 0.3;
  transition: all ease-in 0.3;
}

#darkPopup.focusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

#darkPopup.focusContainer > p {
  text-align: center;
  padding: 0;
  margin: 0;
}

#popupContainer.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-out 0.4s;
  -ms-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

#bgProfilePic {
  display: flex;
  width: 100%;
  box-shadow: 0px 0.5px 0.5px 0.5px #292929;
  -webkit-box-shadow: 0px 0.5px 0.5px 0.5px #292929;
  -moz-box-shadow: 0px 0.5px 0.5px 0.5px #292929;
  -ms-box-shadow: 0px 0.5px 0.5px 0.5px #292929;
  height: calc(100vh - 90px);
}

#bgProfilePic.lightMode {
  background-color: lightgray;
}

#bgProfilePic.darkMode {
  background-color: #222222;
}

#bgProfilePic > div:first-child {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  text-align: center;
}

#bgProfilePic > div:first-child > p {
  padding: 0;
  margin: 2vw;
}

#bgProfilePic > div:first-child > a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 550;
  font-size: 50%;
  text-decoration: none;
  color: #d10505;
  border: 1.5px solid #d10505;
  padding: 1.2vw;
  margin-bottom: 2vw;
  border-radius: 30px 30px;
  -webkit-border-radius: 30px 30px;
  -moz-border-radius: 30px 30px;
  -ms-border-radius: 30px 30px;
}

#bgProfilePic > div:first-child > a:hover, #bgProfilePic > div:first-child > a:active {
  background-color: white;
  color: #5e2bd4;
  border: 1.5px solid #5e2bd4;
}

#bgProfilePic > div:first-child.lightMode {
  color: #333333;
}

#bgProfilePic > div:first-child > hr {
  padding: 0;
  margin: 0;
  width: 30%;
}

#socialMedia {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

#socialMedia > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

#profilePic {
  width: 50%;
  height: 100%;
}

@-webkit-keyframes y-line {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-moz-keyframes y-line {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-ms-keyframes y-line {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes y-line {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes y-line {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes x-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-moz-keyframes x-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-ms-keyframes x-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-o-keyframes x-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes x-line {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
#about {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 2vw 0;
}

#timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 2vw 0;
}

#timeline > .itemRow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}

.item {
  position: relative;
  text-align: center;
  padding: 1vw 4vw;
  box-sizing: border-box;
  -webkit-transition: opacity ease 0.5s;
  -ms-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.item::before, .item::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2.5px solid transparent;
  width: 0;
  height: 0;
}

.item::before {
  top: 0;
  left: 0;
}

.item::after {
  bottom: 0;
  right: 0;
}

.item.show::before,
.item.show::after {
  border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  -ms-border-radius: 10px 10px;
  width: 100%;
  height: 100%;
}

.item.show::before {
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s, border-radius 0.5s ease-out 1.5s;
  -ms-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s, border-radius 0.5s ease-out 1.5s;
  -o-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s, border-radius 0.5s ease-out 1.5s;
  -moz-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s, border-radius 0.5s ease-out 1.5s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s, border-radius 0.5s ease-out 1.5s;
}

.item.show::after {
  -webkit-transition: border-color 0s ease-out 1s, width 0.25s ease-out 1s, height 0.25s ease-out 1.25s, border-radius 0.5s ease-out 1.5s;
  -ms-transition: border-color 0s ease-out 1s, width 0.25s ease-out 1s, height 0.25s ease-out 1.25s, border-radius 0.5s ease-out 1.5s;
  -o-transition: border-color 0s ease-out 1s, width 0.25s ease-out 1s, height 0.25s ease-out 1.25s, border-radius 0.5s ease-out 1.5s;
  -moz-transition: border-color 0s ease-out 1s, width 0.25s ease-out 1s, height 0.25s ease-out 1.25s, border-radius 0.5s ease-out 1.5s;
  transition: border-color 0s ease-out 1s, width 0.25s ease-out 1s, height 0.25s ease-out 1.25s, border-radius 0.5s ease-out 1.5s;
}

.item.lightMode.show::before {
  border-top-color: #5e2bd4;
  border-right-color: #5e2bd4;
}

.item.lightMode.show::after {
  border-left-color: #5e2bd4;
  border-bottom-color: #5e2bd4;
}

.item.darkMode.show::after {
  border-left-color: #e9e7e7;
  border-bottom-color: #e9e7e7;
}

.item.darkMode.show::before {
  border-top-color: #e9e7e7;
  border-right-color: #e9e7e7;
}

.item.hidden {
  opacity: 0;
}

.linesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lines.lightMode {
  background-color: #5e2bd4;
}

.lines.darkMode {
  background-color: #e9e7e7;
}

.lines.hidden {
  opacity: 0;
}

.verLines > .lines {
  transform-origin: top;
  width: 3px;
}

.verLines > .show {
  -webkit-animation: y-line 0.5s 1;
  -moz-animation: y-line 0.5s 1;
  -ms-animation: y-line 0.5s 1;
  -o-animation: y-line 0.5s 1;
  animation: y-line 0.5s 1;
}

.leftHorLines, .rightHorLines {
  width: 15vw;
}

.leftHorLines > .lines {
  transform-origin: right;
}

.rightHorLines > .lines {
  transform-origin: left;
}

.leftHorLines > .lines, .rightHorLines > .lines {
  height: 3px;
  width: 15vw;
}

.leftHorLines > .show, .rightHorLines > .show {
  -webkit-animation: x-line 0.5s 1;
  -moz-animation: x-line 0.5s 1;
  -ms-animation: x-line 0.5s 1;
  -o-animation: x-line 0.5s 1;
  animation: x-line 0.5s 1;
}

#carousel {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: space-between;
  -webkit-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  transition: all linear 0.3s;
  color: white;
}

#carousel.lightMode {
  background-color: #4a22a8;
}

#carousel.darkMode {
  background-color: #4e4d4d;
}

#caroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  height: 100%;
}

#carousel-items {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all linear 0.95s;
  -ms-transition: all linear 0.95s;
  -o-transition: all linear 0.95s;
  -moz-transition: all linear 0.95s;
  transition: all linear 0.95s;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.caro-item {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  transition: all linear 0.4s;
  height: 100%;
}

.caro-item > p, .caro-item > div {
  padding: 10vw;
}

.caro-item.hidden {
  min-width: 0vw;
  visibility: hidden;
}

.caro-item.hidden > p {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.caro-item.show {
  min-width: 100vw;
}

#project1 {
  font-size: xx-large;
}

#project2 {
  font-size: xx-large;
}

#project3 {
  font-size: xx-large;
}

#project4 {
  font-size: xx-large;
}

.caroIndicators {
  cursor: pointer;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

#caroIndicators > .caroIndicators > i {
  border-radius: 30px 30px;
  -webkit-border-radius: 30px 30px;
  -moz-border-radius: 30px 30px;
  -ms-border-radius: 30px 30px;
}

#caroIndicators {
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 3vh;
}

.caro-btns.hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all ease-out 1s;
  -ms-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  transition: all ease-out 1s;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1.5px solid black;
  display: inline-block;
}

#caroIndicators > .caroIndicators > .dot {
  border: 1.5px solid #e9e7e7;
}

#caroIndicators > .caroIndicators > .active {
  background-color: white;
  border: 1.5px solid white;
}

#caroIndicators > .caroIndicators > .dot:hover {
  background-color: white;
  border: 1.5px solid white;
}

.caro-btns {
  background-color: rgba(51, 51, 51, 0);
  border: 0px;
  cursor: pointer;
  font-size: 300%;
  width: 15vw;
  color: white;
}

.caro-btns:hover {
  color: #aaa9a9;
}

#skillsBtn {
  margin-top: 7vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skillsBtn.darkMode > a {
  color: #e9e7e7;
  border: 1.5px solid white;
}

#skillsBtn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 15px;
  text-decoration: none;
}

#skillsBtn.lightMode > a {
  background-color: #e9e7e7;
  color: #5e2bd4;
  border: 1.5px solid #5e2bd4;
}

#skillsBtn.lightMode > a:hover {
  background-color: #5e2bd4;
  color: #e9e7e7;
  border: 1.5px solid #5e2bd4;
}

#skillsBtn.darkMode > a:hover {
  background-color: #e9e7e7;
  color: #292929;
  border: 1.5px solid #e9e7e7;
}

#skills {
  margin-bottom: 7vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  text-align: center;
  width: 70%;
  -webkit-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#skills > p {
  -webkit-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

#skills.show {
  max-height: 600px;
}

#skills.hidden {
  max-height: 0;
  overflow: hidden;
}

#skills.hidden > p {
  opacity: 0;
  visibility: hidden;
}

#footer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#footer.lightMode {
  background-color: #5e2bd4;
  color: white;
}

#footer.darkMode {
  background-color: #333333;
  color: white;
}

/*# sourceMappingURL=index.css.map */
