@mixin  timeline-lg{
    //timeline padding
    #about{
        font-size: 200%;
    }
    #timeline{
        font-size: 60%;
    }

    .item{
        width: 25vw;
    }
    .verLines{
        //center vertical line
        padding: 0 17.5vw;
        width: 25vw;
    }
    .verLines>.lines{
        height: 5vw;
    }
}
@mixin timeline-md {
    //timeline padding
    #about>h2{
        font-size: 2rem;
       
    }

   .item{
       width: 35vw;
   }
   .verLines{
       //center vertical line
       padding: 0 10vw;
       width: 30vw;
   }
   .verLines>.lines{
       height: 4vw;
   }
}

@mixin timeline-sm {
    #about>h2{
        font-size: 1.6rem;
    }
    #timeline{
        padding-top: 2rem;
        font-size: 0.9rem;
    }
}
