#skills{
    position: relative;
    width: 100%;
    height: 100%;
    @include box-shadow(0px, -0.5px, 2px, 0.3px, rgb(0, 0, 0));
}
#skillsBtn{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 4rem;
    border: none;
    flex-direction: column;
    @include centerElement;
}
#skillsBtn.darkMode>span{
    color: white;
    border: 1.5px solid white;
}

#skillsBtn>span{
    @include centerElement;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 550;
    height: 1.5rem;
}

#skillsBtn.lightMode>span{
    // background-color:$bg-secondary-light-color;
    color:$primary-light-color;
    border: 1.5px solid $primary-light-color; 

}


#skillsBtn.lightMode>span:hover{
    background-color: $primary-light-color;
    color: $font-light-color;
    border: 1.5px solid $primary-light-color; 
}

#skillsBtn.darkMode>span:hover{
    background-color:$bg-light-color;
    color:$bg-dark-color;
    border: 1.5px solid $bg-light-color; 
}

#skillsList{
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    text-align: center;
    width: 100%;
    @include transition(all 0.3s ease-in);

}

#skillsList>p{
    @include transition(all 0.5s ease-in);
}
    
#skillsList.show{
    padding-bottom: 6rem;
    max-height: 600px;
}

#skillsList.hidden{
    max-height: 0;
    overflow:hidden;
}

#skillsList.hidden>p{
    opacity: 0;
    visibility: hidden;
}

#skillsList.lightMode, #skillsBtn.lightMode{
    background-color: $text-container-color;
}

#skillsList.darkMode, #skillsBtn.darkMode{
    // background-color: $bg-secondary-dark-color;
}