@mixin carousel-lg {
    #caroContainer{
        width: 69vw;
    }
    .caro-img{
        width: 70%;
    }
}

@mixin carousel-sm{
    #carousel{
        h1 {
            margin-top: 2rem !important;
            font-size: 1.5rem !important;
        }  
    }
    .caro-item{
        h2{
            font-size: 1.2rem !important;
            margin-top: 1.3rem!important;
            margin-bottom: 1rem !important;
            text-align: center;
            align-items: flex-start;
        }
        .caro-item-content{
            flex-direction: column;
            .caro-img-container{
                align-self: flex-start;
                height: 40%;
                margin-top: 1.5rem;
                margin-right: 0;
                .caro-img{
                    height: 100%;
                }
            }

            .project-description{
                height: 100%;
                width: 100%;
                margin-bottom: 2rem;
                .text-container, h3{
                    font-size: 0.9rem;
                }
            }
        }
    }
    #caroContainer{
        width: 69vw ;
    }
    .caro-img{
        width: 100%;
    }   
}
@mixin carousel-md {
    @include carousel-sm;
    #caroContainer{
        width: 40vw ;
    }
}